extends ../layout

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-5
        .card.shadow-lg.rounded
          .card-body
            h3.text-center.mb-4 Iniciar Sesión
            form(action="/login", method="post")
              .mb-3
                label.form-label(for="usuario") Usuario
                input.form-control(type="text", name="user", required, placeholder="Ingrese su usuario")
              .mb-3
                label.form-label(for="password") Contraseña
                input.form-control(type="password", name="password", required, placeholder="Ingrese su contraseña")
              button.btn.btn-primary.w-100(type="submit") Iniciar sesión
            .mt-3.text-center
              small.text-muted ¿No tienes cuenta? 
              a(href="/registro") Regístrate
